/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pretendard-Bold";
    font-weight: normal;
    src: url("./fonts/Pretendard-Bold.ttf") format("truetype");
  }
@font-face {
  font-family: "TossFaceFontMac";
  font-weight: normal;
  src: url("./fonts/TossFaceFontMac.ttf") format("truetype");
}
  body {
    font-family: "Pretendard-Bold";
  }

  .toss-emoji {
    font-family: 'TossFaceFontMac', sans-serif;
  }